* {
  margin: 0px;
  box-sizing: border-box;
}
/* <!-- Herosection --> */
.wrapper {
  margin: "";
}

video {
  object-fit: cover;
  object-position: center;
}
.container {
  position: relative;
}
.hero {
  width: 470px;

  position: absolute;
  top: 10vh;
  left: 8vh;
  background-color: rgba(0, 0, 0, 0.557);
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  animation: change_color 3s linear 0s infinite normal none running;
  border-radius: 10px;
  font-size: 25px;
}
.hero > h4 {
  padding: 0px 10px;
}
@keyframes change_color {
  0% {
    color: wheat;
  }
  50% {
    color: rgba(65, 134, 183, 0.746);
  }
  50% {
    color: orangered;
  }
}
hr {
  border: 1px solid wheat;
  width: 100%;
  margin: 5px 2px;
}
.downarrow {
  position: absolute;
  left: 50vw;
  bottom: 10em;
  font-size: 50px;
  animation: iconcolor 1s infinite linear;
}
@keyframes iconcolor {
  0% {
    color: red;
    left: 50vw;
    bottom: 6em;
  }
  50% {
    color: white;
    left: 50vw;
    bottom: 5em;
  }
  50% {
    color: orangered;
  }
}

/* <!-- navbar section -->    */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: rgba(0, 0, 0, 0.676);
  color: antiquewhite;
  font-size: 2rem;
  position: sticky;
  top: 0vh;
  height: 2em;
  align-items: center;
}
.list {
  display: flex;
  gap: 1rem;
}
ul {
  list-style: none;
}

/* <!-- parragraph section --> */
.paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.paragrap_list {
  width: 80vw;
  text-align: justify;
  font: weight 500px;
  font-size: 25px;
}

/* <!-- image section --> */
[class^="image"] {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 500px;
  display: flex;
  justify-content: center;
  color: beige;
  align-items: center;
  font-size: 40px;
  letter-spacing: 12px;
}
.image1 {
  background-image: url("./asessts/a1.jpg");
}
.image2 {
  background-image: url("./asessts/paralaxbg2.jpg");
}
.image3 {
  background-image: url("./asessts/paralaxbg3.jpg");
}
.image4 {
  background-image: url("./asessts/paralaxbg4.jpg");
}
.image5 {
  background-image: url("./asessts/a1.jpg");
}

[class^="image"] > title {
  display: block;
  background-color: rgba(0, 0, 0, 0.507);
  padding: 2px 3px;
  text-align: center;
  border-radius: 10px;
}
p {
  margin-bottom: 10px;
}
/* footer starts here */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.827);
  color: bisque;
}
.footer_content {
  font-size: 25px;
  width: 30vw;
}
/* media querry starts hereh  */
@media (min-width: 950px) {
  .hero {
    top: 5vh;
    left: 5vw;
  }
  .downarrow {
    bottom: 4em;
  }
  @keyframes iconcolor {
    0% {
      bottom: 4em;
    }
    100% {
      bottom: 4.5em;
      color: orangered;
    }
  }
}
/* for medium screens */

@media (950px >width > 750px) {
  .hero {
    top: 5vh;
    left: 5vw;
    background-color: rgba(0, 0, 0, 0.31);
  }
  .downarrow {
    bottom: 13em;
  }
  @keyframes iconcolor {
    0% {
      bottom: 13em;
    }
    100% {
      bottom: 11.5em;
      color: orangered;
    }
  }
  .footer_content {
    width: 41vw;
  }
}
/* for ipad views */
@media (749px >width > 550px) {
  .hero {
    width: 460px;

    font-size: 20px;
    top: 2vh;
    left: 5vw;
    background-color: rgba(0, 0, 0, 0.31);
  }
  .downarrow {
    bottom: 13em;
    font-size: 40px;
  }
  @keyframes iconcolor {
    0% {
      bottom: 18em;
    }
    100% {
      bottom: 17.5em;
      color: orangered;
    }
  }
  .navbar {
    padding: 0px 15px;
    font-size: 24px;
  }
  .footer_content {
    width: 55vw;
  }
}
/* for mobile views */

@media (549px >width > 300px) {
  .hero {
    width: 80vw;

    font-size: 10px;
    top: 2vh;
    left: 2vw;
  }
  .downarrow {
    bottom: 31.5em;
    font-size: 25px;
  }
  @keyframes iconcolor {
    0% {
      bottom: 34.5em;
    }
    100% {
      bottom: 34em;
      color: orangered;
    }
  }
  .navbar {
    padding: 6px 7px;
    font-size: 11px;
  }
  .paragrap_list {
    width: 81vw;

    font: weight 500px;
    font-size: 13px;
  }
  .footer_content {
    width: 90vw;
  }
}
@media (299px >width > 250px) {
  .hero {
    width: 73vw;

    font-size: 7px;
    top: 1vh;
    left: 7vw;
  }
  .downarrow {
    display: none;
  }
  .navbar {
    padding: 3px 6px;
    font-size: 8px;
  }
  .paragrap_list {
    width: 83vw;
    text-align: justify;
    font-weight: 500;
    font-size: 11px;
  }
  [class^="image"] {
    font-size: 21px;
    letter-spacing: 7px;
    animation: change_color 3s linear 0s infinite normal none running;
  }
  .footer_content {
    font-size: 14px;
    width: 69vw;
  }
}
